body {
    font-family: sans-serif;
    margin: 2rem;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    --success-background: #c6f6c1;
    --success-color: #1ccf00;
    --warning-background: #F6E3C1;
    --warning-color: #c88100;
    --error-background: #f6c1c1;
    --error-color: #d30000;
    --normal-background: #ececec;
    --normal-color: #272727;
    --shadow: rgba(0, 0, 0, 0.1);
}

.rotatable,
.card,
.success,
.warning,
.error,
.normal,
svg,
button,
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    all: unset;
}
body.dark {
    background-color: #121212;
    color: #f0f0f0;
    --success-background: #465c42;
    --success-color: #a6d5a0;
    --warning-background: #605034;
    --warning-color: #d5c9b2;
    --error-background: #4e3636;
    --error-color: #d0a6a6;
    --normal-background: #373737;
    --normal-color: #bebfc1;
    --shadow: rgba(255, 255, 255, 0.1);
}

html {
    font-size: 18px;
}

pre {
    margin: 0;
}

svg {
    background: transparent;
    color: inherit;
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.title {
    margin-bottom: 2rem;
}

.success {
    background: var(--success-background);
    color: var(--success-color);
}


.warning {
    background: var(--warning-background);
    color: var(--warning-color);
}

.error {
    background: var(--error-background);
    color: var(--error-color);
}

.normal {
    background: var(--normal-background);
    color: var(--normal-color);
}

.card {
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px var(--shadow);
}

.card-top {
}

.card-title {
    font-weight: bold;
}

.content {
    padding-top: 0.5em;
}

.card-body {
    max-height: 0;
    overflow: hidden;
    overflow-inline: auto;
    transition: max-height 0.2s ease;
}

.rotatable {
    rotate: -90deg;
    transition: rotate 0.2s ease-out;
}

.rotatable.rotate {
    rotate: 0deg;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.darkmode-toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 10px;
    padding: 0.3em;
    box-shadow: 0 2px 5px var(--shadow);
    color: var(--normal-color);
    background: var(--normal-background);
}

h1 {
    font-size: 2.986rem;
    margin: 0;
}

h2 {
    font-size: 2.488rem;
    margin: 0;
}

h3 {
    font-size: 2.074rem;
    margin: 0;
}

h4 {
    font-size: 1.728rem;
    margin: 0;
}

h5 {
    font-size: 1.44rem;
    margin: 0;
}

h6 {
    font-size: 1.2rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

small {
    font-size: 0.833rem;
}
