body {
    font-family: sans-serif;
    margin: 2rem;
    background-color: #f7f7f7;
}

html {
    font-size: 18px;
}

.title {
    margin-bottom: 2rem;
}

.success {
    background: #c6f6c1;
    color: #1ee200;
}


.warning {
    background: #F6E3C1;
    color: #E29100;
}

.error {
    background: #f6c1c1;
    color: #e20000;
}

.normal {
    color: black;
    background: white;
}

.section {
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.toggle-button {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}

.content.show {
    max-height: 500px; /* big enough for your content */
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h1 {
    font-size: 2.986rem;
    margin: 0;
}

h2 {
    font-size: 2.488rem;
    margin: 0;
}

h3 {
    font-size: 2.074rem;
    margin: 0;
}

h4 {
    font-size: 1.728rem;
    margin: 0;
}

h5 {
    font-size: 1.44rem;
    margin: 0;
}

h6 {
    font-size: 1.2rem;
    margin: 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

small {
    font-size: 0.833rem;
}
